body{
    display: flex;
    justify-content: center;
    background:linear-gradient(to right, rgb(50, 50, 47) , rgb(224, 219, 220));
    color: white;
    font-family: sans-serif;
}
.clockHeading{
    text-align: center;
    font-size: 3rem;
    padding: 1.5rem;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    text-transform: uppercase;
}
.clockStyle{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    background : black;
    padding: 5rem;
    border-radius:50px;
    font-size: 3rem;
    font-weight: bold;

}
@media(min-width: 360px){
    .clockStyle{
        padding: 2rem;
        font-size: 1rem;
    }
    .clockHeading{
        font-size: 2rem;
    }
}
@media(min-width: 540px){
    .clockStyle{
        padding: 3rem;
        font-size: 2rem;

    }
}