*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Source Sans Pro', sans-serif; */

}
:root{
    --primaryColor:#0000ff;
    --secondoryColor:#f4a460;
    --bg-color:#F2F2FE;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: var(--secondoryColor);
    font-weight: bold;
}

.navbar-light .navbar-brand {
    color: #f4a460;
}
.carousel-item img{
    width: 100%;
    height: 70vh;
}
.bgBlue{
    background: var(--primaryColor);
}
.about_bg{
    background: var(--bg-color);
}
.hr{
    color: var(--secondoryColor);
    border-bottom: 4px solid;
    width: 150px;
    
   
}
.about_img{
    max-width: 100wv;
    height: 300px;
}
/* service card */
.serIcon{
    font-size: 30px;
    background: var(--primaryColor);
    color: white;
    padding: 15px;
    border-radius: 10px;
    
}

.card_footer{
    background: var(--secondoryColor);
}
.card_footer:hover{
    background-color: var(--primaryColor);
}
/* form  */
/* .form-control{
    line-height: 2.5;
    font-size: 20px;

} */

.footerIcon{
    font-size: 40px;
}

.frmBtn:hover{
    background: var(--secondoryColor);
}
@media (max-width:1200px) {
    .carousel-item img{
        width: 100%;
        height: 40vh;
    }
   
}

@media (max-width:980px) {
    .hr{
        width: 120px;
    }
    
    
    
}















